@media screen and (min-width: 500px) {
    h1 {
        font-size: 3.5rem;
        margin: 1rem;
        color: navy;
        grid-template-columns: 1fr 1fr;
    }

    header {
        background-color: #000000;
        color: #ffff
    }

}